@media (max-width: 600px) {
    .gl-masonry {
        column-count: 1;
        column-gap: 15px;
        display: block;
    }
    .container {
        min-height: 75vh;
    }
    .container .social .fb {
    color: #fff;
    background-color: #1877f2;
    }
    .container .social .ig {
        color: #fff;
        background-color: #c32aa3;
    }
    .container .social .ldn {
        color: #fff;
        background-color: #0a66c2;
    }
    .container .social .gh {
        color: #fff;
        background-color: #24292e;
    }
    .container .social .web {
        color: #fff;
        background-color: #000;
    }
}