.container .skills-title {
 display: block;
}
.container .skills-title:after {
  content:" ";
  display: block;
  height: 2px;
  width: 40px;
  top: 50%;
  left: 0;
  background: #0F1035;
}



.skills-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.skills-card .skills-name {
  width: 30%;
  display: flex;
  align-items: center;
  background-color: #365486;
  color: #DCF2F1;
  border-radius: 15px;
  margin: 10px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.skills-card .skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    width: 70%%;
    margin: 20px auto;
}
.skills-card .skills {
    width: 20px;
    height: 20px;
    background-color: #7FC7D9; 
    color: #DCF2F1;
    border-radius: 50%;
    text-align: center;
}
.skills-card .skills.active {
    background-color: #0F1035;
}